@import "tailwindcss";

:root {
  --secondary: #000000;
  --decorate: #00b3b3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: #ffffff;
  }
}

@theme {
  --color-decorate: var(--decorate);
  --color-secondary: var(--secondary);
}