---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import AvatarImg from "../assets/me_avatar.jpg";
import SectionLayout from "../layouts/SectionLayout.astro";
import SkillsSection from "../components/SkillsSection.astro";
import EducationSection from "../components/EducationSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import SocialslList from "../components/SocialslList.astro";

const title = "Портфолио";
---

<html lang="ru" class="text-neutral-400 bg-neutral-100 dark:bg-black/92">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="max-w-[1210px] m-auto">
		<header></header>
		<main class="py-12 px-8">
			<h1 class="sr-only">{title}</h1>

			<div class="flex flex-col gap-y-12 md:flex-row md:gap-x-12">
				<div class="relative md:basis-3/10">
					<div class="flex flex-col gap-y-10 sticky top-15">
						<figure
							class="relative w-fit shadow-lg shadow-decorate/10"
						>
							<Image
								class="w-[128px] aspect-square rounded-lg"
								src={AvatarImg}
								alt="Мое фоток"
							/>
							<div class="absolute inset-[-30px]">
								<div
									class="absolute left-[20px] h-full w-px bg-decorate"
									style="mask-image: linear-gradient(to top, transparent, white 4rem, white calc(100% - 4rem), transparent)"
								>
								</div>
								<div
									class="absolute right-[20px] h-full w-px bg-decorate"
									style="mask-image: linear-gradient(to top, transparent, white 4rem, white calc(100% - 4rem), transparent)"
								>
								</div>
								<div
									class="absolute top-[20px] h-px w-full bg-decorate"
									style="mask-image: linear-gradient(to left, transparent, white 4rem, white calc(100% - 4rem), transparent)"
								>
								</div>
								<div
									class="absolute bottom-[20px] h-px w-full bg-decorate"
									style="mask-image: linear-gradient(to left, transparent, white 4rem, white calc(100% - 4rem), transparent)"
								>
								</div>
							</div>
						</figure>
						<div class="flex flex-col gap-y-8">
							<div class="flex flex-col gap-y-4">
								<div class="flex flex-col gap-y-2">
									<div>
										<p
											class="text-3xl font-medium text-secondary"
										>
											Артем Малафеев
										</p>
										<p>Frontend-разработчик</p>
									</div>
									<div
										class="flex items-center gap-x-2 text-sm"
									>
										<Icon name="world" />
										<p>Ставрополь, Россия</p>
									</div>
								</div>
								<SocialslList />
							</div>

							<SectionLayout title="Обо мне">
								<p class="text-sm">
									Junior Full Stack Developer with a passion
									for building web applications. Currently
									seeking opportunities to further develop my
									skills in a professional setting.
								</p>
							</SectionLayout>
						</div>
					</div>
				</div>

				<div class="flex flex-col gap-y-6 md:basis-7/10">
					<ProjectsSection />
					<SkillsSection />
					<EducationSection />
				</div>
			</div>
		</main>
		<footer></footer>
	</body>
</html>
