---
import { Icon } from "astro-icon/components";
---

<div
    class="flex flex-col gap-y-2 p-4 bg-decorate/2 border border-decorate/16 rounded-md"
>
    <header class="flex justify-between items-center text-secondary">
        <a
            class="flex gap-x-2 items-center hover:text-decorate hover:underline decoration-dotted underline-offset-4 decoration-2"
            href="#"
            target="_blank"
            rel="noopener"
        >
            <Icon class="mt-[2px] text-sm" name="outlink" />
            <h3 class="text-sm">Портфолио</h3>
        </a>
        <a class="hover:text-decorate" href="#" target="_blank" rel="noopener">
            <Icon class="text-sm" name="logo/git" />
        </a>
    </header>
    <p class="text-xs text-secondary">
        Персональный сайт-портфолио для демонстрации моих проектов и навыков.
    </p>
    <ul class="flex flex-col gap-y-1 list-disc list-inside text-xs">
        <li>Разработан на Astro и Tailwind</li>
        <li>Минималистичный и адаптивный дизайн</li>
    </ul>
</div>
