---
import { Icon } from "astro-icon/components";

const { name, icon } = Astro.props;
---

<li class="flex items-center gap-x-1">
    <Icon class="text-lg text-decorate" name={icon} />
    <span class="text-xs">{name}</span>
</li>
